body {
background-color: rgb(242, 250, 255);
}
h1{
  color:  rgb(59, 33, 150);
  border: 2px solid rgb(59, 33, 150);
  border-radius: 18px;
  background-color: #dffafa;
    color: (55, 42, 179);
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    text-align: center;
    margin-left: 0%;
    }
    
    p{
      color:  rgb(59, 33, 150);
      font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    text-align: center;
    margin-left: 0%;

    }
    .formularz {
    
        background-position: center center;
        text-align: center;
        color: rgb(83, 51, 199)
        font-size: 20px;
    
    
    }
    
    input {
        width: 10%;
        height: 20px;
        padding: 12px 20px;
        box-sizing:border-box;
        border: 2px solid rgb(59, 33, 150);
        border-radius: 16px;
        background-color: #f3ffff;
        resize:both;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 15px;
    
    }
    
    
    textarea {
    
        width: 25%;
      height: 150px;
      padding: 12px 20px;
      box-sizing:border-box;
      border: 2px solid rgb(59, 33, 150);
      border-radius: 16px;
      background-color: #f3ffff;
      resize:both;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    }
    
    input[value] {
        width: 5%;
        padding: 12px 20px;
        margin: 8px;
        width: 5%;
        
        background-color: rgb(144, 153, 238);
        color: rgb(242, 240, 248);
        border-radius: 16px;
        border: 20px;
        cursor: pointer;
        padding: 20px 20px;
        width: 5%;
    }
    .msg{
      font-size: 20px;
    }

    footer {
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      position:absolute;
		bottom:0;
		width:100%;
		height:40px;
		background: #dffafa;
    color: rgb(59, 33, 150);
    border-radius: 16px;
    text-align: center; 
    }
