#content-wrap {
    padding-bottom: 1rem;    /* Footer height */
  }
  


    
  
  body { 
    
    background-position: center center;
    margin:0;
		padding:0;
		height:100%;
    }
  
  
       }
  
       h1 {
  color: rgb(59, 33, 150);
    font-family: "Times New Roman", Times, serif;
    font-size: 46px;
    text-align: center;
    margin-left: 0%;
  
  
  
       }

        footer {
          text-align: center;
          justify-content: center;
        
          color: rgb(59, 33, 150);
          font-size: 20px;
          bottom: 0;
          width: 100%;
          height: 3rem;           
          display: flex;
          position: absolute;
       
          padding: 1px;
          background-color: #dffafa;
          align-items: center;
          font-weight: bolder;
    }
