#content-wrap {
    padding-bottom: 1rem;    /* Footer height */
  }
  
  #footer {0
    position: center;
    color: green;
    font-size: medium;
    bottom: 0;
    width: 100%;
    height: 1rem;            /* Footer height */
  }
  
  body { 
    background-image: url("backgroundphoto2.jpg");
    background-repeat: repeat;
    background-position: center center;
    }
  
  
       }
  
       h1 {
  color: rgb(196, 58, 196);
    font-family: "Times New Roman", Times, serif;
    font-size: 46px;
    text-align: center;
    margin-left: 0%;
  
  
  
       }