#content-wrap {
    padding-bottom: 1rem;    /* Footer height */
  }
  


    
  
  body { 
    
    background-position: center center;
    margin:0;
		padding:0;
		height:100%;
    }
  
  
       }
  
       h1 {
  color: rgb(59, 33, 150);
    font-family: "Times New Roman", Times, serif;
    font-size: 46px;
    text-align: center;
    margin-left: 0%;
  
  
  
       }

       footer {
        text-align: center;
        justify-content: center;
      
        color: rgb(247, 251, 253);
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 2rem;           
        display: flex;
     
        padding: 1px;
        background-color: rgb(60, 58, 196);
        align-items: center;
        font-weight: bolder;
	  }
